.control {
	margin-top: 8px;
	text-align: left;
}
.window-size {
	display: block;
	height: 5px;
}
#window-btn {
	position: absolute;
	right: 0px;
}
.btn-ctrl {
	width: 22px;
    height: 17px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}
body {
	margin: 0px;
	width: 150px;
	height: 140px;
	background-image: url("background.jpg");
	font-family: "Tahoma", "Verdana";
}
* {
    box-sizing: border-box;
}
table {
	table-layout: fixed;
	width: 100%;
}
tr td {
	/*padding-left: 5px;
	padding-right: 5px;*/
	text-align: center;
}
.set-text td {
	font-size: 9.5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 42%;}
.col-5 {width: 50%;}
.col-6 {width: 58%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.main {
	/*padding-left: 10px;
	padding-right: 10px;*/
}
.clock {
	text-align: center;
	font-size: 30px;
}
.btn-up, .btn-down {
	position: relative;
}
.btn-up:active {
	top: 1.5px;
}
.btn-down:active {
	bottom: 1.5px;
}